form {
  width: 25%;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}

label {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  
}

/* modificamos el boton, todos los input que sean submit se modificaran */
input[type="submit"]{
  background-color: blue;
  color: azure;
  border: none;
}

input[type="submit"]:hover {
  background: red;
  cursor: pointer;
}

#correcto, #incorrecto {
  color: red;
  font-size: small;
  margin-bottom: 40px;
}

#mensaje {
  color: red;
  text-align: right;
}
